* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/*---Navtop---*/

.bg-navtop  {
    display: flex;
    justify-content: center;
    width: 100%;
    background:#F5FAFE;
}

.navtop {
    display: flex;
    align-items: center;
    width: 1100px;
    height: 60px;
    background:#F5FAFE;
    font-family: "Mulish";
    font-style: normal;
}

.navtop__left {
    width: 550px;
}

.navtop__left p {
    font-size: 10px;
}


.navtop__right {
    width: 550px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navtop__right img {
    width: 18px;
    height: 18px;
    margin-left: 100px;
}

.navtop__right p {
    font-size: 10px;
    color: #333333;
    margin-left: 20px;
}



/*---Navbar---*/


.bg-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 120px;
    background: #FFFFFF;
}

.navbar__logo {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    line-height: 24px;
}

.navbar__search {
    display: flex;
    width: 350px;
    height: 40px;

}

.navbar__search input {
    width: 350px;
    background-color: #F5FAFE;
    border-radius: 6px;
    border: none;
    
}


::placeholder {
    font-family: "Mulish";
    font-size: 12px;
    color: #333333;
    line-height: 15.06px;
    padding: 20px;
    
}

.search {
    display: flex;
    width: 65px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #EC1F46;
    border-radius: 0px 6px 6px 0px;
}


.navbar img  {
    width: 16px;
    height: 16px;
    
}


.navbar__cart {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    position: relative;
}

.navbar__cart img {
    width: 34px;
    height: 34px;
}

.navbar__cart .elipse {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #EC1F46;
    border-radius: 100%;
    bottom: 25px;
    right: -8px;  
}

.navbar__profile {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar__cart .elipse p {
    font-size: 10px;
    color: #FFFFFF;
}

.navbar__profile .ellipse {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.navbar__profile p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    margin-right: 15px;
}

.navbar__profile img {
    width: 24px;
    height: 24px;
}






.bg-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    background:#0A223D;
}

.navbar__bottom {
    display: flex;
    height: 80px;
    background:#0A223D;
}


.navbar__bottom ul {
    width: 1100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.navbar__bottom ul li {
    display: flex;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #FFFFFF;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #F5FAFE;
    width: 100%;
}

.bread__crump {
    width: 1100px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #F5FAFE;
}

.bread__crump p {
    font-family: "Mulish";
    font-size: 10px;
    line-height: 13px;
    color: #333333;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 100px;
    background: #F5FAFE;
}


.name__title {
    display: flex;
    align-items: center;
}

.name__title h2 {
    font-family: "Mulish";
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    line-height: 30px;
}

.name__title p {
    font-family: "Mulish";
    font-size: 10px;
    color: #FFFFFF;
}

.name__rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 20px;
    background: #EC1F46;
    border-radius: 3px;
    margin-left: 20px;
}

.name__subtitle {
    font-family: "Mulish";
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    color: #333333;
}

.rattings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 45px;
    border-radius: 4px;
    background: #EC1F46;
    font-family: "Mulish";
}

.rattings__user {
    font-size: 8px;
    font-weight: 600;
    color: #FFFFFF;
}


.rattings__numbers {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #FFFFFF;
}

.rattings__numbers span {
    font-size: 10px;
}


.slider {
    display: flex;
    width: 1100px;
    height: 450px;
    background: #F5FAFE;
}


.slider__foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 728px;
    height: 450px;
    border-radius: 8px;
    background: url(img/Rectangle\ 5.png), #C4C4C4;
}

.slider__foto__arrow {
    width: 690px;
    display: flex;
    justify-content: space-between;
}

.slider__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    height: 450px;

}


.booking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 350px;
    height: 210px;
    border-radius: 8px;
    background: #0A223D;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;  
}

.booking__wrapper {
    display: flex;
    justify-content: space-between;
    width: 295px;
}

.booking__left {
    display: flex;
    flex-wrap: wrap;
    width: 86px;
    height: 59px;
}

.booking__left p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.booking__left h4 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

.booking__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80px;
    height: 40px; 
}

.booking__right img {
    width: 14px;
    height: 14px;
    /* margin-right: 7px; */
}

.booking__right p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}




.booking__phone {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 295px;
    height: 25px;
}


.booking__phone h3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.booking__phone p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.booking__phone p img {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}


.booking__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 45px;
    border-radius: 4px;
    background: #EC1F46;
}

.booking__button p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}


.maps {
    width: 347px;
    height: 213px;
    background: url(img/Map.png);
}


.cards  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 100px;
    background: #F5FAFE;
}

.cards__menu {
    display: flex;
}


.cards__menu ul {
    display: flex;
    list-style-type: none;
    width: 1100px;
    align-items: center;
    justify-content: space-between;
}

.cards__menu ul li {
    position: relative;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}


.cards__menu ul li:nth-child(1){
    color: #EC1F46;
}

.cards__menu ul li:nth-child(1)::before{
    content: "";
    position: absolute;
    top: 30px;
    width: 130px;
    height: 4px;
    background: #EC1F46;

}


.package {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    font-family: "Mulish";
    background:#F5FAFE;
    margin-top: 30px;
    margin-bottom: 100px;
}

.package__title {
    position: absolute;
}

.package h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}


.package__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 538px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.package__card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 538px;
    height: 50px;
    background: #0A223D;
    border-radius: 8px 8px 0 0;
    
}

.package__card__title p {
    width: 479px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.package__card__body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 479px;
    height: 96px;
}

.package__card__body p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.package__card__body__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
}

.package__card__body__right {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.package__card__body__left img,
.package__card__body__right img {
    width: 18px;
    height: 18px;
}

.package__card__body__left p,
.package__card__body__right p {
    margin-bottom: 20px;
    
}

.package__card__body__left img,
.package__card__body__right img {
    margin-right: 20px;
}

.package__card__body__left .offer {
    display: flex;
    width: 205px;
}

.package__card__body__left .valid {
    width: 168px;
    margin-left: 40px;
    font-size: 10px;
}





.package__card__details {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
}

.package__card__details__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 50px;
    background: #0A223D;
    border-radius: 8px 8px 0 0;
    
}


.package__card__details__title p {
    width: 1048px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}




.package__card__details__body {
    display: flex;
    justify-content: space-between;
    width: 1048px;
    height: 240px;
}

.package__card__details__body p,
.package__card__details__body__down p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.package__card__details__body p {
    margin-top: 20px;
}


.package__card__details__body h3,
.package__card__details__body__down h3 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #EC1F46;
    
}


.package__card__details__body img,
.package__card__details__body__down img{
    margin-right: 20px;
}


.package__card__details__body__activity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: 350px;
    
}

.package__card__details__body__down {
    display: flex;
    justify-content: space-between;
    width: 1048px;
    height: 130px;
    margin-bottom: 60px;
}


.lines {
    width: 1048px;
    height: 0;
    border: 1px dashed #E0E0E0;
    margin-top: 100px;
}


